{% extends "base4.html" %}
{% block content %}
    <section class="product" id="product">

        <h1 class="heading"></h1>
        
        <div class="content">
            <h1>Agent Dashboard</h1>
        </div>
        
        <div class="box-container">
            <div class="box">
                <h1>Total Policyholders: {{ total_users }}</h1>
                <span class="price"><a href="/agent/policyholder-list"><button class="btn">View</button></a></span>
            </div>    

            <div class="box">
                <h1>Pending Claims: {{ total_claims }}</h1>
                <span class="price"><a href="/agent/claim-list"><button class="btn">View</button></a></span>
            </div>   
        </div>
        </div>
        
    </section>

    
    {% endblock %}