{% extends "base.html" %}
{% block content %}

    <section class="home" id="home">

        <div class="content">
            <h1>{{policy.coverage}}</h1>
            <p>R{{policy.premium}}</p>
        </div>
    
        <div class="image">
            <img src="{{policy.image}}" alt="">
        </div>
    
    </section>

    <section class="about" id="about">

        <div class="image">
            <img src="" alt="">
        </div>

        <div class="content">
            <h3>Vehicle Cover</h3>
            <p>Provides the widest cover and covers for theft and hijacking, damages due to an accident, fire or explosion and natural disasters like hail and floods. Comprehensive insurance cover also includes damage to the vehicle’s windows and liability to other parties as a result of an accident, as well as intentional damage to your vehicle.</p>
            <ul>
                <li> <i class="fas fa-check-double"></i> Free comprehensive car hire - Group F for 30 days </li>
                <li> <i class="fas fa-check-double"></i> 24/7 emergency roadside assistance, home-drive assistance </li>
                <li> <i class="fas fa-check-double"></i> Vehicle keys </li>
                <li> <i class="fas fa-check-double"></i> Emergency repairs, costs and alternative accommodation </li>
                <li> <i class="fas fa-check-double"></i> Tow-in costs after mechanical breakdown and recovery costs </li>
                <li> <i class="fas fa-check-double"></i> Wreckage removal </li>
                <li> <i class="fas fa-check-double"></i> Replacement of new vehicle within 24 months and 60 000km from first registration </li>
                <li> <i class="fas fa-check-double"></i> Accidental damage to tyres or rims </li>
                <li> <i class="fas fa-check-double"></i> A credit shortfall with or without residual </li>
            </ul>
        </div>

    </section>

    

    <section class="contact" id="contact">

        <h1 class="heading">request quote</h1>
        
        
        <form action="">
        
            <div class="inputBox">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
            </div>
        
            <div class="inputBox">
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Verhicle Market Value">
            </div>
        
            <textarea name="" id="" cols="30" rows="10" placeholder="vehicle description"></textarea>
        
            <input type="submit" value="submit" class="btn">
        
        </form>
        
    </section>

    {% endblock %}