<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <style>
        .signin-form{
            display: grid;
            gap: 12px;
        }
        .register_reset{
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <!-- action="" -> Submit to current url  -->
        <form method="POST" action="">
          <!-- Hidden input with token as value -->
          <!-- Validations -->
          {{form.hidden_tag()}} {% if form.email.errors %} {% for error in
          form.email.errors %}
          <div style="color: red">{{error}}</div>
          {% endfor %} {% endif %} {% if form.password.errors %} {% for error in
          form.password.errors %}
          <div style="color: red">{{error}}</div>
          {% endfor %} {% endif %}
          <div class="form-group">
            {{form.email.label}}: {{form.email(placeholder="Email",
            class="form-control")}}
          </div>
          <div class="form-group">
            {{form.password.label}}: {{form.password(placeholder="Password",
            class="form-control")}}
          </div>
          {{form.submit(class="btn btn-primary")}}
        </form>
      </div>
</body>
</html>
