<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* .register{
        display: grid;
        gap: 12px;
        } */
    </style>
    
</head>
<body>
    <h1>Register</h1>
    <form class="register" action="" method="POST">
        <!-- Hidden input field with token as value -->
        {{form.hidden_tag()}}

        {% if form.email.errors %}

            {% for error in form.email.errors %}
                <div style="color: red">{{error}}</div>
            {% endfor %}

        {% endif %}

        {{form.name.label}}: {{form.name(placeholder="Name")}} <br/>
        {{form.email.label}}: {{form.email(placeholder="Email")}} <br/>
        {{form.password.label}}: {{form.password(placeholder="Password")}} <br/>
        {{form.submit}}
    </form>
</body>
</html>