<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        .reset-password-form{
            display: grid;
            gap: 12px;
        }
    </style>
</head>
<body>
    <form class="reset-password-form" action="{{ url_for('reset_password') }}" method="POST">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="new_password" placeholder="New Password">
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>

