<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .update-form{
            display: grid;
            gap: 12px;
        }
    </style>

</head>
<body>
    <form class="update-form" action="{{url_for('update_user')}}" method="POST">
        <input type="hidden" name="user_id" value="{{ user.user_id }}">
        <input name="name" type="text" placeholder="Name" value="{{user.name}}">
        <input name="email" type="text" placeholder="Email" value="{{user.email}}">
        

        <button type="submit">Update User</button>
    </form>
</body>
</html>